.hidden {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#errorMessage {
    color: red;
}

.loginForm, .formSection {
    display: flex;
    flex-direction: column;
}

.formSection {
    gap: 1rem;
}

.loginForm{
    gap: 1.5rem;
}

input {
    font-size: 1.25rem;
    border-radius: 1rem;
    height: 2rem;
    border: solid 2px var(--border-color);
    padding: .25rem .75rem;
    width: 20rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:focus {
    outline: none;
    border: solid 2px #000;
}